@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.App {
    min-height: 100vh;
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#333, #e66465);
}

.logo-img {
    margin: 50px;
    padding: 15px;
    height: 100px;
    width: auto;
    border-radius: 15px;
    box-shadow: 0px 5px 20px #e66465;
    display: block;
}

.main-form {
    margin: 30px;
    max-width: 400px;
    width: 80vw;
    background-color: #ededed;
    padding: 30px;
    box-shadow: 3px 5px 5px #333;
}

.main-form h2 span,
.main-form h2 {
    font-size: 24px;
    color: #222;
    text-align: center;
}

.main-form h2 span {
    color: #e66465;
}

.main-form h2 {
    margin: 30px 0;
}

.main-form span {
    display: block;
    color: #222;
    font-weight: 500;
    font-size: 18px;
}

.main-form input {
    padding: 10px;
    width: 95%;
    height: 20px;
    background-color: #e8f0fe;
    border-radius: 5px;
    border: 2px solid #333;
    color: #222;
    transition-duration: 800ms;
    font-weight: 700;
    margin-bottom: 20px;
}

.main-form input:focus {
    font-size: 18px;
    font-weight: 800;
    transition-duration: 500ms;
}

.main-form input[type='range'] {
    accent-color: coral;
    padding: 0;
}

.main-form p {
    margin-top: 10px;
    font-weight: 800;
    color: #e66465;
}

.main-form button {
    font-size: 22px;
    color: #eee;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 250px;
    background-color: #e66465;
    border: 2px solid #333;
    transition-duration: 500ms;
}

.main-form button:hover {
    color: #e66465;
    background-color: #eee;
    transition-duration: 500ms;
}
